.Navbar-container {
    @apply h-[8.75rem] w-[100vw] flex flex-col
}

.black-nav {
    border-bottom: 0.031rem solid #000000;
    @apply h-[3rem] w-[100vw] bg-[black] flex justify-center items-center text-[white]
}

.white-nav {
    @apply h-[5.75rem] border-2 flex pl-[9.38%] pr-[9.38%] justify-between
}

.mobile-white-nav {
    @apply h-[5.75rem] border-2 flex pl-[9.38%] pr-[9.38%] justify-between hidden
}

.mid-nav {
    @apply flex flex-row h-[2.38rem] mt-[2.5rem] justify-between w-[100%]
}

.logo {
    @apply font-bold text-[1.5rem] leading-[1.5rem]
}

/* .menu {
    @apply 
} */

.nav-links {
    @apply gap-[3rem] flex
}

.nav-link {
    @apply leading-[1.5rem] font-normal
}

.form {
    @apply flex bg-[#f5f5f5] pt-[0.43rem] pb-[0.43rem] pl-[1.25rem] pr-[0.75rem] rounded-[0.25rem]
}

.search-input::placeholder {
    @apply text-[#000000] opacity-[0.5]
}

.search-input {
    @apply bg-[#f5f5f5] w-[9.5625] h-[1.625rem]
}

.search-icon {
    @apply bg-[#f5f5f5] h-[1.5rem] w-[1.5rem]
}

.si {
    @apply h-[1.5rem] w-[1.5rem]
}

.search-input:focus {
    border: none;
    outline: none;
}

.third-row {
    @apply flex flex-row gap-[1.5rem]
}


.nav-icons {
    @apply flex flex-row gap-[1rem]
}


.nav-icons-hide {
    @apply flex flex-row gap-[1rem] hidden
}


.one-icon {
    @apply p-[0.43rem] flex items-center justify-center
}

.carto {
    @apply items-center text-[0.7rem] justify-center flex bg-[#DB4444] relative rounded-[50%] top-[-0.5rem] left-[-0.65rem] h-[1.4rem] w-[1.4rem] text-white
}


@media screen and (max-width: 767px) {  
    body {
        font-size: 14px;
    }

    .Navbar-container {
        @apply h-fit w-[100vw] flex flex-col
    }

    .white-nav {
        @apply h-[5.75rem] border-2 flex pl-[9.38%] pr-[9.38%] justify-between hidden
    }


    .black-nav {
        border-bottom: 0.031rem solid #000000;
        @apply h-[3rem] w-[100vw] bg-[black] flex justify-center items-center text-[white] text-[0.75rem] text-center
    }


    .nav-icons {
        @apply flex flex-row gap-[0.2rem]
    }


    .nav-icons-hide {
        @apply flex flex-row gap-[0.5rem] hidden
    }

    .mobile-white-nav {
        @apply h-[5.75rem] border-2 flex pl-[4.38%] pr-[4.38%] flex-col
    }

    .mobile-first-logo {
        @apply flex flex-row gap-[0.75rem] mt-[0.5rem]
    }

    .mid-nav {
        @apply flex flex-row h-[80%] mt-[0rem] items-center justify-between w-[100%]
    }

    .menu {
        @apply h-[1.5rem] w-[1.5rem]
    }

    .menu-mobile-logo {
        @apply h-[1.5rem] w-[1.5rem] mr-[2rem] mt-[1rem]
    }

    .out-logo {
        @apply w-[100%] flex justify-end bg-[black]
    }

    .chose-link {
        @apply text-[1.2rem] font-bold
    }

    .logo {
        @apply font-bold text-[1rem] leading-[1rem]
    }

    .form {
        @apply flex bg-[#f5f5f5] pt-[0.03rem] pb-[0.0rem] pl-[0.7rem] pr-[0.75rem] rounded-[1.25rem] items-center w-[90%] justify-between h-[80%] mt-[0.5rem]
    }

    .search-input::placeholder {
        @apply text-[#000000] opacity-[0.5] leading-[1.5rem] text-[0.7rem]
    }

    .search-input {
        @apply bg-[#f5f5f5] w-[9.5625] h-[0.9rem] leading-[1rem]
    }

    .search-icon {
        @apply bg-[#f5f5f5] h-[1.4rem] w-[1.2rem] text-[0.75rem]
    }

    .si {
        @apply h-[1.5rem] w-[1.5rem]
    }

    .search-input:focus {
        border: none;
        outline: none;
    }

    /* .one-icon {
        @apply flex flex-col
    } */

    .icon {
        @apply h-[1.5rem] w-[1.5rem]
    }

    .iconl {
        @apply h-[1.5rem] w-[1.5rem]
    }

    .carto {
        @apply items-center text-[0.7rem] justify-center flex bg-[#DB4444] relative rounded-[50%] top-[-0.5rem] left-[-0.65rem] w-[1rem] h-[1rem] text-white
    }

    .nav-links {
        @apply gap-[3rem] flex hidden
    }


    /* .show-mobile-menu {
        transition: all 0.5s ease-out;
        @apply absolute block w-[100vw] h-[100vw] bg-[black] top-[3rem] left-[0rem] opacity-100
    } */


    .show-mobile-menubar {
        overflow-y: auto;
        overflow: scroll;
        transition: all 0.5s ease-out;
        z-index: 2;
        border: 0.08rem solid rgb(207, 39, 39);
        @apply absolute block list-none bg-[white] left-0 top-[0rem] w-[90%] h-[100%]
    }

    .show-icon-menubar {
        @apply h-[1.5rem] w-[1.5rem] block top-[4rem] absolute
    }


    /* 
    .show-mobile-menu {
        position: absolute;
        
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        background-color: #005469;
        z-index: 9999;
        display: block;
        align-items: center;
    } */

    .modal {
        transition: all 0.5s ease-out;
        z-index: 2;

        @apply absolute block list-none bg-[blue] left-0 top-[0.75rem] w-[90%] h-[80%]
    }




    .mobile-nav-links {
        @apply mt-[0.5rem] gap-[1rem] flex flex-wrap flex-row w-[100%] justify-center items-center pt-[0rem] 
    }

    .nav-link-mobile {
        /* box-shadow: 0rem 1rem 1.58rem rgba(0, 0, 0, 0.15); */
border: 0.2rem solid rgb(207, 39, 39);
        @apply bg-[white] rounded-[0.25rem] text-[black] h-[3rem] w-[9rem] justify-center items-center flex text-[1rem] font-medium
    }

    .nav-link {
        /* box-shadow: 0rem 1rem 1.58rem rgba(0, 0, 0, 0.15); */

        @apply text-[white] p-[1rem] text-center text-[1rem] w-[100%]  font-normal mx-[2rem] mb-[0rem] text-[black]
    }


    .third-row {
        @apply flex h-[100%] justify-center
    }

    .mobile-choose {
        /* grid-template-columns: repeat(2, 1fr); */
        /* @apply grid gap-[1rem] px-[0.5rem] mb-[2rem] */
        @apply flex flex-col  w-[100%]
    }

    .p-choose-mobile {
        border-bottom: 0.02rem solid black;
        @apply p-[1.5rem] text-[0.8rem] text-[black] rounded-[0.25rem]  flex  items-center w-[100%] h-[100%] justify-between
    }

    .select-choice {
        @apply text-[#DB4444] text-[1.2rem] font-bold
    }

    .select-mobile {
        /* box-shadow: 0rem 1rem 1.58rem rgba(0, 0, 0, 0.15); */

        @apply flex justify-center items-center flex-col gap-[1rem] mt-[0rem]
    }



    .user-section {
        @apply px-[3rem] flex justify-center items-center flex-col gap-[1rem] bg-[black] py-[2em] text-[white]
    }


    .user-name {
        @apply font-bold
    }

    .link-category {
        @apply flex justify-center items-center flex-col
    }

    .chose-link {
        @apply mt-[1rem]
    }

}


@media screen and (min-width: 768px) and (max-width: 991px) {

    .Navbar-container {
        @apply h-fit w-[100vw] flex flex-col 
    }

    .white-nav {
        @apply h-[5.75rem] border-2 flex pl-[9.38%] pr-[9.38%] justify-between
    }


    .black-nav {
        border-bottom: 0.031rem solid #000000;
        @apply h-[3rem] w-[100vw] bg-[black] flex justify-center items-center text-[white] text-[0.75rem] text-center
    }


    .nav-icons {
        @apply flex flex-row gap-[0.2rem]
    }


    .nav-icons-hide {
        @apply flex flex-row gap-[0.5rem] hidden
    }

    .mobile-white-nav {
        @apply h-[5.75rem] border-2 flex pl-[4.38%] pr-[4.38%] flex-col
    }

    .mobile-first-logo {
        @apply flex flex-row gap-[0.75rem]
    }

    .mid-nav {
        @apply flex flex-row h-[80%] mt-[0rem] items-center justify-between w-[100%]
    }

    .menu {
        @apply h-[1.5rem] w-[1.5rem]
    }

    .logo {
        @apply font-bold text-[1.2rem] leading-[1rem]
    }

    .form {
        @apply flex bg-[#f5f5f5] pt-[0.43rem] pb-[0.43rem] pl-[1.25rem] pr-[0.75rem] rounded-[1.25rem] items-center w-[100%] justify-between
    }

    .search-input::placeholder {
        @apply text-[#000000] opacity-[0.5] leading-[1.5rem]
    }

    .search-input {
        @apply bg-[#f5f5f5] w-[9.5625] h-[0.9rem] leading-[1rem]
    }

    .search-icon {
        @apply bg-[#f5f5f5] h-[1.5rem] w-[1.5rem] text-[0.75rem]
    }

    .si {
        @apply h-[1.5rem] w-[1.5rem]
    }

    .search-input:focus {
        border: none;
        outline: none;
    }

    .one-icon {
        @apply flex flex-col
    }

    .icon {
        @apply h-[1rem] w-[1rem]
    }

    .one-iconl {
        @apply flex flex-col hidden
    }


    .carto {
        @apply bg-[#DB4444] relative
    }


    .nav-links {
        @apply gap-[3rem] flex hidden
    }

    .third-row {
        @apply flex h-[100%] justify-center
    }

}


@media screen and (min-width: 992px) and (max-width: 1199px) {

    .Navbar-container {
        @apply h-[8.75rem] w-[100vw] flex flex-col
    }

    .black-nav {
        border-bottom: 0.031rem solid #000000;
        @apply h-[3rem] w-[100vw] bg-[black] flex justify-center items-center text-[white]
    }

    .white-nav {
        @apply h-[5.75rem] border-2 flex pl-[4.38%] pr-[4.38%] justify-between
    }

    .mobile-white-nav {
        @apply h-[5.75rem] border-2 flex pl-[9.38%] pr-[9.38%] justify-between hidden
    }



    .mid-nav {
        @apply flex flex-row h-[2.5rem] mt-[2rem] justify-between w-[100%] items-center
    }

    .logo {
        @apply font-bold text-[1.5rem] leading-[1.5rem]
    }

    /* .menu {
        @apply 
    } */

    .nav-links {
        @apply gap-[2rem] flex
    }

    .nav-link {
        @apply leading-[1.5rem] font-normal text-[1rem]
    }

    .form {
        @apply flex bg-[#f5f5f5] pt-[0.43rem] pb-[0.43rem] pl-[1.25rem] pr-[0.75rem] rounded-[0.25rem]
    }

    .search-input::placeholder {
        @apply text-[#000000] opacity-[0.5]
    }

    .search-input {
        @apply bg-[#f5f5f5] w-[7.5625] h-[1.5rem]
    }

    .search-icon {
        @apply bg-[#f5f5f5] h-[1.5rem] w-[1.5rem]
    }

    .si {
        @apply h-[1.5rem] w-[1.5rem]
    }

    .search-input:focus {
        border: none;
        outline: none;
    }

    .third-row {
        @apply flex flex-row gap-[1.5rem]
    }


    .nav-icons {
        @apply flex flex-row gap-[1rem]
    }


    .nav-icons-hide {
        @apply flex flex-row gap-[1rem] hidden
    }


    .one-icon {
        @apply p-[0.43rem] flex items-center justify-center
    }



}


@media screen and (min-width: 1200px) {

    .Navbar-container {
        @apply h-[8.75rem] w-[100vw] flex flex-col
    }

    .black-nav {
        border-bottom: 0.031rem solid #000000;
        @apply h-[3rem] w-[100vw] bg-[black] flex justify-center items-center text-[white]
    }

    .white-nav {
        @apply h-[5.75rem] border-2 flex pl-[9.38%] pr-[9.38%] justify-between
    }

    .mobile-white-nav {
        @apply h-[5.75rem] border-2 flex pl-[9.38%] pr-[9.38%] justify-between hidden
    }

    .mid-nav {
        @apply flex flex-row h-[2.38rem] mt-[2.5rem] justify-between w-[100%]
    }

    .logo {
        @apply font-bold text-[1.5rem] leading-[1.5rem]
    }

    /* .menu {
        @apply 
    } */

    .nav-links {
        @apply gap-[3rem] flex
    }

    .nav-link {
        @apply leading-[1.5rem] font-normal
    }

    .form {
        @apply flex bg-[#f5f5f5] pt-[0.43rem] pb-[0.43rem] pl-[1.25rem] pr-[0.75rem] rounded-[0.25rem]
    }

    .search-input::placeholder {
        @apply text-[#000000] opacity-[0.5]
    }

    .search-input {
        @apply bg-[#f5f5f5] w-[9.5625] h-[1.625rem]
    }

    .search-icon {
        @apply bg-[#f5f5f5] h-[1.5rem] w-[1.5rem]
    }

    .si {
        @apply h-[1.5rem] w-[1.5rem]
    }

    .search-input:focus {
        border: none;
        outline: none;
    }

    .third-row {
        @apply flex flex-row gap-[1.5rem]
    }


    .nav-icons {
        @apply flex flex-row gap-[1rem]
    }


    .nav-icons-hide {
        @apply flex flex-row gap-[1rem] hidden
    }


    .one-icon {
        @apply p-[0.43rem] flex items-center justify-center
    }



}